<h1>Bienvenue petit curieux!</h1>
<h2> Ici tu trouveras les potins les plus croustillants </h2>

<% @gossips.each do |gossip| %>
  <div class="card">
    <div class="card-body">
      <p class="card-text"> <%="#{gossip.title} écrit par #{gossip.user.first_name}"%></p>
      <span class="nav-link"> <%= link_to gossip.id, "/gossip/#{gossip.id}", class: "btn btn-primary" %></span>
    </div>
  </div>
<% end %>
    

